.container{
    background-color: #fff;
    width: 100%;
    height: auto;
    min-height: 100vh;
    color: #1E222D;
    padding: 1rem;
    position: relative;
    margin-left: 245px;
}

@media screen and (max-width: 760px){
    .container{
        margin-left: 60px;
        
    }
}