.container{
    margin-top: 0.4rem;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.2rem;
    color: #87898b;
    display: flex;
    justify-content: space-between;

}
.container:before{
    width: 100%;
    height: 0.5px;
    background-color: #e0e1e3;
    content: "";
    display: block;
    position: absolute;
}
.container span span{
    color: #3298D9;
}