.container{
    padding: 6rem 2rem;
   
    position: relative;
}
.container h2{
    font-size: 3rem;
    font-weight: 500;
}
.container p{
    color: #AAB3B7;
    margin-bottom: 1.4rem;
}
.lists{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 2rem 0px;
}
.list{
    padding: 5rem 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    border: 1px solid #2d3235;
    border-radius: 10px;
    transition: 0.3s ease-in-out all;
    cursor: pointer;
}
.list:hover{
    border-color: #575d60;
}
.img{
    width: 100px;
}
.list span{
    font-weight: 500;
}

@media screen and (max-width: 760px){
    .container h2{
        font-size: 2rem;
    }
    .lists{
        flex-direction: column;
    }
    .list{
        padding: 2.3rem;
        flex-direction: row;
    }
    .img{
        width: 60px;
    }
}