@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
:root {
  --foreground: #fff;
  --background:  #020125;
  --cool-ash: #37373c;
  --bright-ash: #797981;
  --sharp-ash: #AAABAD;
  --sharp-blue: #3498DB;
}



body {
  color: var(--foreground);
  background: var(--background);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



