.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.content{
    background-color: #fff;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 400px;
}
.logo{
    width: 40px;
    margin: 1rem;
    align-self: center;
    cursor: pointer;
}
.input{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}
.input input[type="email"], .input input[type="password"]{
    border: 1px solid #c9cbce;
    padding: 0.4rem;
    border-radius: 5px;
    font-size: 13px;
    color: #1A1C1F;
}
.input label{
    color: #a7aaae;
    font-size: 13px;
    margin-bottom: 4px;
}

.input input[type="email"]:focus, .input input[type="password"]:focus{
    outline: none;
}

.content span{
    color: #6a6c70;
    font-size: 14px;
}
.button{
    background-color: #3298D9;
    margin: 0.6rem 0px;
    padding: 0.4rem;
    border-radius: 7px;
}
.remember{
    display: flex;
    gap: 7px;
    align-items: center;
}
.remember input[type="checkbox"]:checked{
    background-color: #3298D9;
    color: #3298D9;
}


@media screen and (max-width: 760px){
    .content{
        width: 350px;
    }
}